<form method="POST" action="/auth/login{% if request.GET.next  %}?next={{request.GET.next}}{% endif %}">
    {% csrf_token %}
    <div class="mb-3">
      <label for="username" class="form-label">Usuário</label>
      <input type="username" name="username" class="form-control" id="username" aria-describedby="emailHelp">
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Senha</label>
      <input type="password" name="password" class="form-control" id="password">
    </div>
    {% if request.GET.error == '1'%}
    <div>
        <p class="text-danger">Usuário ou senha inválidos</p>
    </div>
    {% endif %}
    <button type="submit" class="btn btn-primary">Logar</button>
</form>






