<h1>Login</h1>
<form method="POST" action="/action_login/">
    {% csrf_token %}
    <div class="mb-3">
      <label for="username" class="form-label">Usuário</label>
      <input type="username" name="username" class="form-control" id="username" aria-describedby="emailHelp">
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Senha</label>
      <input type="password" name="password" class="form-control" id="password">
    </div>
    <button type="submit" class="btn btn-primary">Logar</button>
</form>






