{% extends "base/base.html" %}

{% block title %}Modo Simulado{% endblock %}

{% block content %}

    <h1>Modo de Teste</h1>
    <form class="col-6">
        <div class="mb-3">
        <label for="test" class="form-label">Selecione a certificação ou o teste:</label>
            {{form.test}}
        </div>
        <div class="mb-3">
            <label for="size" class="form-label">Número de questões:</label>
            {{form.size}}
        </div>
        <button type="submit" class="btn btn-primary">Selecionar</button>
    </form>

{% endblock %}


<!--select id="test" name="test" class="form-select">
    {% for test in tests %}
        <option value="{{test.id}}">{{ test.name }}</option>
    {% endfor %}
</select-->