{% extends "base/base.html" %}
{% load utils_tags %}

{% block title %}
    Teste Iniciado
{% endblock %}

{% block extrahead %}

    <script src="https://unpkg.com/react@18/umd/react.development.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom@18/umd/react-dom.development.js" crossorigin></script>
    <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>

    {% load static %}
    <link rel="stylesheet" href={% static "css/selected_question.css" %}>
    <link rel="stylesheet" href={% static "css/start_simulator.css" %}>
{% endblock %}

{% block content %}
    <h1>Teste Iniciado - {{test}}</h1>
    <p>Teste iniciado com sucesso!</p>
    <input type="hidden" id="test-id" value="{{test.id}}">


    <div id="root"></div>


    {% load static %}

    <script src={% static "js/test_simulator_app/Utils.jsx" %} type="text/babel"></script>
    <script src={% static "js/test_simulator_app/Question.jsx" %} type="text/babel"></script>
    <script src={% static "js/test_simulator_app/TestSimulator.jsx" %} type="text/babel"></script>
    <script src={% static "js/start_simulator.js" %}></script>

{% endblock %}









        <!--div style="max-width: 50rem; width:100%;">
            <div id="start-simulator">
                {% for question in test.question_set.all %}
                    {% if forloop.counter <= 5 %}
                    <div id="{{question.id}}" class="card mb-2 question {% if forloop.counter0 == 0 %}show-question{% endif %} ">
                        <div class="card-body">
                            <h5 class="card-title">{{question.question_text|truncatewords:2}}</h5>
                            <p class="card-text">{% render_img_tags question.question_text %}</p>
                            <h6>Alternativas:</h6>
                            <ol type="A">
                                {% for option in question.option_set.all %}
                                    <li class="card-text option" id="{{option.id}}" index={{forloop.parentloop.counter0}} question-index={{question.id}}  option-index="{{option.id}}">{% render_img_tags option.option_text %}</li>
                                {% endfor %}
                            </ol>
                            {% comment %} <button class="btn btn-primary" id="show-answers">Mostrar respostas</button> {% endcomment %}
                        </div>
                    </div>
                    {% endif %}
                {% endfor %}
            </div>
            <div class="d-flex justify-content-end">
                <button id="previous-button" class="btn btn-primary me-2">Anterior</button>
                <button id="next-button"  class="btn btn-primary">Próxima</button>
            </div>
        </div -->