{ {% extends "base/base.html" %} }

{% block title %} Alterar Password {% endblock %}

{% block content %} 
    <form method="POST" action="/dashboard/auth/change_password/" autocomplete="off">
        {% csrf_token %}
        <div class="mb-3">
            <label for="current_password" class="form-label">Password Atual</label>
            <input type="password" name="current_password" class="form-control" id="current_password" autocomplete="off">
        </div>
        <div>
            <b>A nova senha deve ter ao menos 9 caracteres, uma letra maiúscula, um número e um caractere especial.</b>
        </div>
        <div class="mb-3">
            <label for="new_password" class="form-label">Novo Password</label>
            <input type="password" name="new_password" class="form-control" id="new_password">
        </div>
        <div class="mb-3">
            <label for="confirm_password" class="form-label">Confirmação Password</label>
            <input type="password" name="confirm_password" class="form-control" id="confirm_password">
        </div>
        {% if request.GET.error == '1'%}
        <div>
            <p class="text-danger">Opa! o novo password e a confirmação do mesmo não coincidem!.</p>
        </div>
        {% endif %}

        {% if request.GET.error == '2'%}
        <div>
            <p class="text-danger">Opa, a nova senha deve ter ao menos 9 caracteres, uma letra maiúscula, um número e um caractere especial.</p>
        </div>
        {% endif %}

        {% if request.GET.error == '3'%}
        <div>
            <p class="text-danger">Opa! o password digitado está incorreto, tente de novo.</p>
        </div>
        {% endif %}
        {% if request.GET.success == '1'%}
        <div>
            <p class="text-success">Password alterado com sucesso!</p>
        </div>
        {% endif %}
        <button type="submit" class="btn btn-primary">Alterar</button>
    </form>
{% endblock %}